@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Cormorant:wght@300&family=Inclusive+Sans&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Poppins:wght@100;400&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400&family=Space+Grotesk:wght@500&display=swap");

:root {
  --font-family-Space: "Space Grotesk";
  --color-white: #fff;
  --color-black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(63, 251, 85);
  background: radial-gradient(
    circle,
    rgba(63, 251, 85, 0.6643032212885154) 0%,
    rgba(0, 0, 0, 0.7343312324929971) 79%
  );
}

.border {
  width: 13rem;
  height: 17rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000c9;

  box-shadow: 0px 2px 20px #094431b9;
}

.clock {
  width: 12rem;
  height: 16rem;
  border-radius: 1rem;
  background: var(--color-white);
  padding: 0.5rem 1rem;

  background: rgb(189, 226, 113);
  background: linear-gradient(
    155deg,
    rgba(189, 226, 113, 1) 0%,
    rgba(59, 119, 60, 1) 57%
  );

  box-shadow: 0px 2px 20px #ffffffb9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.clock div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-Space);
}

#horas,
#minutos,
#segundos {
  color: var(--color-white);
  font-weight: bold;
}

#horas {
  font-size: 3rem;
}

#minutos {
  font-size: 2.5rem;
}

#segundos {
  font-size: 2rem;
}

.tempo {
  color: var(--color-white);
}
